DATABASE_URL="database_url"

# pour generer : node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

# Access token — courte durée (15 minutes)
JWT_SECRET="jwt_secret"

# Refresh token — secret DIFFÉRENT du JWT_SECRET !
JWT_REFRESH_SECRET="jwt_refresh_secret"

NODE_ENV="development"